<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="#hero">
                <img
                    class="cs-logo-img light"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/webber.png"
                    alt="Webber Creative"
                    width="264"
                    height="78"
                />
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/#hero-1619" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/#sbs-1308" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/#pricing-1087" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="/#faq-254" class="cs-link">FAQ</a>
                </li>
                <li class="cs-li">
                    <a href="/contact" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a
                        href=""
                        class="cs-social-link"
                        aria-label="facebook"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-white.svg"
                            alt="icon"
                            loading="lazy"
                            decoding="async"
                            width="12"
                            height="12"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-social-li">
                    <a
                        href=""
                        class="cs-social-link"
                        aria-label="twitter"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg"
                            alt="icon"
                            loading="lazy"
                            decoding="async"
                            width="12"
                            height="12"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-social-li">
                    <a
                        href=""
                        class="cs-social-link"
                        aria-label="instagram"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-transparent.svg"
                            alt="icon"
                            loading="lazy"
                            decoding="async"
                            width="12"
                            height="12"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-social-li">
                    <a
                        href=""
                        class="cs-social-link"
                        aria-label="twitter"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-transparent2.svg"
                            alt="icon"
                            loading="lazy"
                            decoding="async"
                            width="12"
                            height="12"
                            aria-hidden="true"
                        />
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2024 - <a href="/" class="cs-copyright-link">Webber Creative</a>
            </span>
        </div>
    </div>
    <!--Background-->
    <div class="cs-background">
        <img
            loading="lazy"
            decoding="async"
            src="/assets/images/code.jpg"
            alt="code background"
            width="1280"
            height="568"
        />
    </div>
</footer>
