<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/webber.png" alt="Webber Creative Logo" width="210" height="29" sizes="(max-width: 600px) 168px, 210px" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul class="cs-ul" id="cs-expanded" aria-expanded="false">
                    {%- for entry in collections.all | eleventyNavigation %}
                    <li class="cs-li">
                        <a href="{{ entry.url }}" class="cs-li-link{% if entry.url == page.url %} cs-active{% endif %}"{% if entry.url == page.url %} aria-current="page"{% endif %}>
                            {{ entry.key }}
                        </a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </nav>
        <div class="cs-contact-group">
            <a href="/contact/" class="cs-button-solid">Get Started</a>
        </div>
    </div>
</header>
                                