<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="" />
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
        <meta property="og:image" content="/assets/images/logo-small.png" />
        <meta property="og:image:secure_url" content="/assets/images/logo-small.png" />

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicons/favicon-32x32.png?v1"
        />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/favicons/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Preloads -->
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/assets/fonts/roboto-v29-latin-regular.woff2"
            crossorigin
        />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/assets/fonts/roboto-v29-latin-700.woff2"
            crossorigin
        />
        <link rel="preload" as="image" href="/assets/images/webber.webp" width="264" height="78" />

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
        <link rel="preload" as="image" href="{{ preloadImg }}" />
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="preload" href="/assets/css/root.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript><link rel="stylesheet" href="/assets/css/root.css" /></noscript>
        <script>
        /*! loadCSS polyfill for older browsers */
        (function(w){"use strict";if(!w.loadCSS){w.loadCSS=function(){}}
        var loadCSS=function(href,before,media){var doc=w.document;var ss=doc.createElement("link");var ref;if(before){ref=before}else{var refs=(doc.body||doc.getElementsByTagName("head")[0]).childNodes;ref=refs[refs.length-1]}var sheets=doc.styleSheets;ss.rel="stylesheet";ss.href=href;ss.media="only x";function ready(cb){if(doc.body){return cb()}setTimeout(function(){ready(cb)})}ready(function(){ref.parentNode.insertBefore(ss,before?ref:ref.nextSibling)});var onloadcssdefined=function(cb){var resolvedHref=ss.href;var i=sheets.length;while(i--){if(sheets[i].href===resolvedHref){return cb()}}setTimeout(function(){onloadcssdefined(cb)})};if(ss.addEventListener){ss.onloadcssdefined=onloadcssdefined}ss.onloadcssdefined(function(){if(ss.media!=="all"){ss.media=media||"all"}});return ss};if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}else{w.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this));
        </script>
        <script defer src="/assets/js/nav.js"></script>

        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a href="#main" class="skip">Skip to main content</a>

        {% include "components/header.html" %}
        <main id="main">{% block body %}{% endblock %}</main>
        {% include "components/footer.html" %}
        <script src="/assets/js/faq.js"></script>
        <script src="/assets/js/animations.js" defer></script>
    </body>
</html>
