<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="" />
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
        <meta property="og:image" content="{{ client.domain }}/assets/images/webber.webp" />
        <meta
            property="og:image:secure_url"
            content="{{ client.domain }}/assets/images/webber.webp"
        />

        <link rel="icon" type="image/svg+xml" href="/assets/svgs/webber-logo.svg" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/assets/favicons/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="dns-prefetch" href="https://identity.netlify.com" />
        <link rel="preconnect" href="https://csimg.nyc3.cdn.digitaloceanspaces.com" crossorigin />
        <link rel="preconnect" href="https://tracker.metricool.com" />

        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/assets/fonts/roboto-v29-latin-regular.woff2"
            crossorigin
        />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/assets/fonts/roboto-v29-latin-700.woff2"
            crossorigin
        />
        <link rel="preload" as="image" href="/assets/images/webber.webp" width="264" height="78" />

        {% if preloadImg and preloadImg != '' %}
        <link rel="preload" as="image" href="{{ preloadImg }}" />
        {% endif %}

        <link rel="stylesheet" href="/assets/css/root.css" />
        <script defer src="/assets/js/nav.js"></script>

        <script>
            function loadScript(a) {
                var b = document.getElementsByTagName("head")[0],
                    c = document.createElement("script");
                c.type = "text/javascript";
                c.src = "https://tracker.metricool.com/resources/be.js";
                c.onreadystatechange = a;
                c.onload = a;
                b.appendChild(c);
            }
            loadScript(function () {
                if (typeof beTracker !== 'undefined') {
                    beTracker.t({ hash: "1f146859027cb95d4cf9dc41c0716c02" });
                }
            });
        </script>

        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body class="{% block bodyClass %}{% if page.url == '/' %}is-home{% else %}is-interior{% endif %}{% endblock %}">
        <a href="#main" class="skip">Skip to main content</a>

        {% include "components/header.html" %}
        
        <main id="main">
            {% block body %}{% endblock %}
        </main>

        {% include "components/footer.html" %}
        
        <script defer src="/assets/js/faq.js"></script>
        <script src="/assets/js/animations.js" defer></script>
    </body>
</html>