/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-2320 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #contact-2320 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.25rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #contact-2320 .cs-container2 {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.25rem;
    padding: 5rem 3rem;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  #contact-2320 .cs-container2 .cs-topper {
    color: #fff;
  }
  #contact-2320 .cs-content {
    text-align: left;
  }
  #contact-2320 .cs-title {
    margin-bottom: 2rem;
  }
  #contact-2320 .cs-form {
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-2320 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-2320 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-2320 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-2320 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-2320 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact-2320 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-2320 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-2320 .cs-submit {
    text-transform: uppercase;
    background-color: var(--secondaryLight);
    color: var(--headerColor);
    border: none;
    transition: color 0.3s;
  }
  #contact-2320 .cs-submit:hover {
    cursor: pointer;
    color: #fff;
  }
  #contact-2320 .cs-map {
    width: 100%;
    max-width: 39.375rem;
    height: 25rem;
    position: relative;
    z-index: 1;
    display: block;
  }
  #contact-2320 .cs-iframe-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* 40px - 56px */
    bottom: clamp(2.5rem, 5vw, 3.5rem);
  }
  #contact-2320 .cs-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #contact-2320 .cs-box {
    width: 90%;
    max-width: 28.125rem;
    /* 16px - 32px top & bottom */
    /* 16px left & right */
    padding: clamp(1rem, 3vw, 2rem) clamp(1rem, 2.4vw, 1rem);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  #contact-2320 .cs-box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    pointer-events: none;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-2320 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #contact-2320 .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #contact-2320 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #contact-2320 .cs-address {
    font-size: clamp(0.75rem, 2.8vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #contact-2320 .cs-hours {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-2320 .cs-hours-info {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 60%;
    max-width: 28ch;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #contact-2320 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-2320 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.72;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #contact-2320 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-2320 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
  }
  #contact-2320 .cs-container2 {
    max-width: 80rem;
  }
  #contact-2320 .cs-content {
    max-width: 32.625rem;
    /* 24px - 80px */
    padding: clamp(2rem, 5vw, 5rem) 0;
  }
  #contact-2320 .cs-title,
  #contact-2320 .cs-topper,
  #contact-2320 .cs-text {
    text-align: left;
    margin-left: 0;
  }
  #contact-2320 .cs-title {
    max-width: 32.625rem;
  }
  #contact-2320 .cs-services,
  #contact-2320 .cs-phone {
    width: 47%;
  }
  #contact-2320 .cs-button-solid {
    margin-left: 0;
  }
  #contact-2320 .cs-map {
    max-width: 39.375rem;
    height: auto;
    order: -1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-2320 .cs-topper {
    color: var(--secondaryLight);
  }
  body.dark-mode #contact-2320 .cs-title, body.dark-mode #contact-2320 .cs-header, body.dark-mode #contact-2320 .cs-address {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-2320 .cs-box {
    background-color: var(--dark);
  }
  body.dark-mode #contact-2320 .cs-box:before {
    background-color: #000;
    opacity: 0.4;
  }
  body.dark-mode #contact-2320 .cs-label {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-2320 .cs-input {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-2320 .cs-input::placeholder {
    color: #fff;
    opacity: 0.5;
  }
}

/*# sourceMappingURL=contact.css.map */
