/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1619 {
        padding: var(--sectionPadding);
        /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 60px - 180px */
            gap: clamp(3.75rem, 13vw, 11.25rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(780 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.5vw, 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: calc(4 / 16 * 1rem);
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            position: relative;
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: calc(48 / 16 * 1rem);
            height: auto;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: 100%;
            margin: 0 0 calc(40 / 16 * 1rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 calc(40 / 16 * 1rem) 0;
            color: #fff;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            margin: 0;
            padding: 0 calc(24 / 16 * 1rem);
            color: #fff;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #fff;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            grid-column: span 12;
            grid-row: span 1;
            position: relative;
            z-index: 1;
            border-radius: 1rem;
            min-height: calc(280 / 16 * 1rem);
            height: 100%;

            .cs-icon {
                margin-bottom: 1.5rem;
            }

            .cs-h3 {
                margin-bottom: 1rem;
            }

            .cs-item-text {
                flex-grow: 1;
            }
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(450 / 16 * 1rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            height: 55%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #111926;
                opacity: 0.8;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1619 {
        padding-bottom: 0;
        .cs-container {
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            margin-left: 0;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-background {
            height: 87%;
            &:before {
                background: linear-gradient(
                    90deg,
                    #111926 21.41%,
                    rgba(17, 25, 38, 0.72) 34.98%,
                    rgba(17, 25, 38, 0) 62.53%
                );
                opacity: 1;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1619 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #hero-1619 {
        .cs-background {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting7.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            /* creates the parallax effect */
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1619 {
            .cs-item {
                background-color: var(--medium);
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-background {
                background-color: #000;

                img {
                    opacity: 0.5;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    .services {
        z-index: 100;
        position: relative;
        border-top: calc(6 / 16 * 1em) solid var(--primary);
        border-radius: calc(5 / 16 * 1em);
        margin: auto;
        margin-top: calc(-167 / 16 * 1em);
        margin-bottom: calc(50 / 16 * 1em);
        background: #fff;
        max-width: calc(1320 / 16 * 1em);
        width: 90%;
        padding: calc(50 / 16 * 1em) calc(20 / 16 * 1em);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        .card {
            display: block;
            margin: auto;
            margin-bottom: calc(50 / 16 * 1em);
            max-width: calc(357 / 16 * 1em);
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: calc(23 / 16 * 1em);
                background: var(--primary);
                height: calc(88 / 16 * 1em);
                width: calc(88 / 16 * 1em);

                img {
                    height: calc(48 / 16 * 1em);
                    width: calc(48 / 16 * 1em);
                }
            }
            h2 {
                margin-bottom: calc(13 / 20 * 1em);
                font-size: calc(32 / 16 * 1em);
                line-height: calc(27 / 20 * 1em);
                font-weight: 700;
                color: #1a1a1a;
                text-align: center;
            }
            p {
                opacity: 0.7;
                width: 100%;
                line-height: calc(24 / 18 * 1em);
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        font-size: min(1.8vw, 1em);

        .card {
            margin: 0;
            max-width: calc(325 / 16 * 1em);
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: calc(50 / 16 * 1em) calc(80 / 16 * 1em);

        .card {
            max-width: calc(357 / 16 * 1em);
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: var(--primaryDark);
            }

            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
